.page {
  background-color: #131316;
  height: 100%; /*//TODO почему-то тут было 100vs*/
  grid-template-rows: auto 1fr;
}

.container {
  height: inherit;
  display: grid;
  max-width: 1240px;
  margin: auto;
}

.content {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1 1 300px;
  max-width: 600px;
}
