.wrapper {
  height: 100%;
}

.constructor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.meals {
  composes: meals from "../BurgerIngredients/BurgerIngredients.module.css";
  composes: constructor;
  max-height: 400px;

}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.amount {
  display: flex;
  align-items: center;
}

